In [18]:
# import des librairies dont nous aurons besoin
import pandas as pd
import numpy as np
import re

# chargement et affichage des données
data = pd.read_csv('D:\Dev\Mes fichiers Python\Fichiers de données\personnes.csv')
print(data)

   prenom                                   email date_naissance  \
0   Leila                       leila@example.com     23/01/1990
1  Samuel                  samuel_329@example.com     20/09/2001
2   Radia                choupipoune@supermail.eu  12 sept. 1984
3    Marc  marco23@example.com, mc23@supermail.eu     10/02/1978
4    Heri                 helloworld@supermail.eu     05/03/2008
5   Hanna                  hanna2019@supermail.eu     01/01/1970
6  samuël                  samuel_329@example.com            NaN

            pays taille
0         France  1.49m
1            NaN  1.67m
2  Côte d'ivoire  153cm
3         France  1.65m
4     Madagascar  1.34m
5             24  3.45m
6          Bénin  1.45m

In [13]:
data.isnull()

   prenom  email  date_naissance   pays  taille
0   False  False           False  False   False
1   False  False           False   True   False
2   False  False           False  False   False
3   False  False           False  False   False
4   False  False           False  False   False
5   False  False           False  False   False
6   False  False            True  False   False

In [2]:
# Affiche le nombre de valeurs nulles dans chaque colonnes 
print(data.isnull().sum())

prenom            0
email             0
date_naissance    1
pays              1
taille            0
dtype: int64

In [9]:
# Affiche les doublons de la colonne email, avec keep= False, on affiche les deux, on peut aussi utiliser "first" et "last"
data.loc[data['email'].duplicated(keep= False),:]

   prenom                   email date_naissance   pays taille
1  Samuel  samuel_329@example.com     20/09/2001    NaN  1.67m
6  samuël  samuel_329@example.com            NaN  Bénin  1.45m

In [20]:
# ici on créé une liste de valeurs acceptés, puis on vérifie que tous les éléments de la colonne font parties de cette liste
# si ce n'est pas le cas affiche NaN
VALID_COUNTRIES = ['France', 'Côte d\'ivoire', 'Madagascar', 'Bénin', 'Allemagne'
                  , 'USA']
mask = ~data['pays'].isin(VALID_COUNTRIES)
data.loc[mask, 'pays'] = np.NaN
print (data)

   prenom                                   email date_naissance  \
0   Leila                       leila@example.com     23/01/1990
1  Samuel                  samuel_329@example.com     20/09/2001
2   Radia                choupipoune@supermail.eu  12 sept. 1984
3    Marc  marco23@example.com, mc23@supermail.eu     10/02/1978
4    Heri                 helloworld@supermail.eu     05/03/2008
5   Hanna                  hanna2019@supermail.eu     01/01/1970
6  samuël                  samuel_329@example.com            NaN

            pays taille
0         France  1.49m
1            NaN  1.67m
2  Côte d'ivoire  153cm
3         France  1.65m
4     Madagascar  1.34m
5            NaN  3.45m
6          Bénin  1.45m

In [17]:
# permet de séparer la colonne email en gardant seulement le premier élément avant la virgule
# fonction réservé au str (.str)
# [0] veut dire qu'on garde le premier indice du split (le premier email avant la virgule)
data['email'] = data['email'].str.split(',', n=1, expand=True)[0]
print (data)

   prenom               email date_naissance           pays taille
0   Leila                None     23/01/1990         France  1.49m
1  Samuel                None     20/09/2001            NaN  1.67m
2   Radia                None  12 sept. 1984  Côte d'ivoire  153cm
3    Marc   mc23@supermail.eu     10/02/1978         France  1.65m
4    Heri                None     05/03/2008     Madagascar  1.34m
5   Hanna                None     01/01/1970             24  3.45m
6  samuël                None            NaN          Bénin  1.45m

In [20]:
# enlève le dernier terme
data['taille'] = data['taille'].str[:-1]
# convertie en numeric, si erreur affaiche NaT
data['taille'] = pd.to_numeric(data['taille'], errors='coerce')

AttributeError: Can only use .str accessor with string values!

In [21]:
# ici la valeurs est remplacée par la moyenne 
data.loc[data['taille'].isnull(), 'taille'] = data['taille'].mean()
print (data)

   prenom                                   email date_naissance  \
0   Leila                       leila@example.com     23/01/1990
1  Samuel                  samuel_329@example.com     20/09/2001
2   Radia                choupipoune@supermail.eu  12 sept. 1984
3    Marc  marco23@example.com, mc23@supermail.eu     10/02/1978
4    Heri                 helloworld@supermail.eu     05/03/2008
5   Hanna                  hanna2019@supermail.eu     01/01/1970
6  samuël                  samuel_329@example.com            NaN

            pays    taille
0         France  1.490000
1            NaN  1.670000
2  Côte d'ivoire  1.841667
3         France  1.650000
4     Madagascar  1.340000
5             24  3.450000
6          Bénin  1.450000

In [27]:
# met toutes les dates de naissance sous le même format, les erreurs seront remplacées par NaT
data['date_naissance'] = pd.to_datetime(data['date_naissance'], 
                                           format='%d/%m/%Y', errors='coerce')
print (data)

   prenom                     email date_naissance           pays    taille
0   Leila         leila@example.com     1990-01-23         France  1.490000
1  Samuel    samuel_329@example.com     2001-09-20            NaN  1.670000
2   Radia  choupipoune@supermail.eu            NaT  Côte d'ivoire  1.841667
3    Marc       marco23@example.com     1978-02-10         France  1.650000
4    Heri   helloworld@supermail.eu     2008-03-05     Madagascar  1.340000
5   Hanna    hanna2019@supermail.eu     1970-01-01            NaN  3.450000
6  samuël    samuel_329@example.com            NaT          Bénin  1.450000