In [1]:
import numpy as np
import pandas as pd
import config

In [2]:
from googleapiclient.discovery import build

In [3]:
api_key = config.api_key
youtube = build('youtube', 'v3', developerKey=api_key)

In [106]:
def creation_df(idChaines):
    
    part_param = 'snippet,contentDetails,statistics,brandingSettings'

    data = []

    for chaine in idChaines :
        # pour rechercher une chaine
        response = youtube.channels().list(part=part_param, id=chaine).execute()

        nom_chaine = response['items'][0]['snippet']['title']
        pays = response['items'][0]['snippet']['country']
        nombre_vue_total = response['items'][0]['statistics']['viewCount']
        nombre_abonnes = response['items'][0]['statistics']['subscriberCount']
        nombre_videos = response['items'][0]['statistics']['videoCount']
        description = response['items'][0]['snippet']['description']
        keywords = response['items'][0]['brandingSettings']['channel']['keywords']

        data.append([nom_chaine, pays, nombre_vue_total, nombre_abonnes, nombre_videos, description, keywords])

        columns = ['nom_chaine', 'pays', 'nombre_vue_total', 'nombre_abonnes', 'nombre_videos', 'description', 'keywords']
        df = pd.DataFrame(data=data, columns=columns)

    return df

In [107]:
idChaines = ['UCWeg2Pkate69NFdBeuRFTAw', 'UCnz-ZXXER4jOvuED5trXfEA']

creation_df(idChaines)

,nom_chaine,pays,nombre_vue_total,nombre_abonnes,nombre_videos,description,keywords
0,SQUEEZIE,FR,10417991606,18700000,1611,clique sur une vidéo nan??,Squeezie aMOODIEsqueezie SqueeZie amoodiesquee...
1,techTFQ,MY,14193039,266000,102,"Hi, I am Thoufiq! On this channel, I teach SQL...","SQL Python ""Python Tutorial"" ""SQL Tutorial"" RD..."