In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

import warnings

import psycopg2

from sqlalchemy import create_engine

In [2]:
# création de la connexion 
conn = psycopg2.connect(
    host="localhost",
    database="Lapage",
    user="postgres",
    password="radrio06"
)

# création de l'engine qui sert à la connection
engine = create_engine('postgresql://postgres:radrio06@localhost:5432/Lapage')

In [2]:
folder = 'D:/Data_Analyst_Projet/Projet 6/Donnees python/sql/'

# importation des fichiers
transaction_all=pd.read_csv(folder+'transaction_all_sql.csv')
produit=pd.read_csv(folder+'produit_sql.csv')
customers=pd.read_csv(folder+'customers_sql.csv')

In [4]:
# mise en place des index comme dans la bdd
customers.set_index('client_id', inplace=True)
produit.set_index('id_prod', inplace=True)

In [48]:
# exportation des df dans la base postgresql 
customers.to_sql('customers', engine, if_exists='append', index=True, index_label='client_id')

produit.to_sql('produit', engine, if_exists='append', index=True, index_label='id_prod')

transaction_all.to_sql('transaction_all', engine, if_exists='append', index=False)

600

In [63]:
# lecture dans la base de données
pd.read_sql('select * from customers', conn)

,client_id,ventes_nb,ventes_ca,categ_0,categ_1,categ_2,sex,birth,age,nb_panier,panier_moyen,frequence_achat,intercept
0,c_1,39,558.18,30,8,1,m,1955,68,33,16.91,1.625000,1
1,c_10,58,1353.60,20,34,4,m,1956,67,34,39.81,2.416667,1
2,c_100,8,254.85,2,5,1,m,1992,31,5,50.97,0.333333,1
3,c_1000,125,2261.89,43,82,0,f,1966,57,93,24.32,5.208334,1
4,c_1001,102,1812.86,70,31,1,m,1982,41,47,38.57,4.250000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8595,c_995,14,189.41,11,3,0,m,1955,68,9,21.05,0.583333,1
8596,c_996,95,1625.58,40,55,0,f,1970,53,79,20.58,3.958333,1
8597,c_997,59,1490.01,23,21,15,f,1994,29,24,62.08,2.458333,1
8598,c_998,53,2779.88,14,11,28,m,2001,22,23,120.86,2.208333,1
8599,c_999,46,701.40,19,27,0,m,1964,59,42,16.70,1.916667,1

In [78]:
# création d'un nouveau client test
cus2=pd.DataFrame([[10,100,10,0,0,'m',2000,23,10,10,10,1]], columns=list(customers.columns.values), index=['c_test'])
# intégration dans la base
cus2.to_sql('customers', engine, if_exists='append', index=True, index_label='client_id')

1

In [80]:
# lecture du nouveau client
pd.read_sql("select * from customers where client_id = 'c_test' ", conn)

,client_id,ventes_nb,ventes_ca,categ_0,categ_1,categ_2,sex,birth,age,nb_panier,panier_moyen,frequence_achat,intercept
0,c_test,10,100.0,10,0,0,m,2000,23,10,10.0,10.0,1

In [6]:
# valide le commit, les modifications effectuées dans la base
conn.commit()

# ferme la connexion en fin de programme
conn.close()