#  Vidéo 19 : SEABORN PYTHON TUTORIEL PAIRPLOT etc : Les PLUS BEAUX GRAPHIQUES en 1 Ligne de Code ! (19/30)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Vue d'ensemble

In [21]:
sns.pairplot(iris, hue='species')

## Visualiser les catégories

In [14]:
titanic = sns.load_dataset('titanic')
titanic.drop(['alone', 'alive', 'who', 'adult_male', 'embark_town', 'class'], axis=1, inplace=True)
titanic.dropna(axis=0, inplace=True)
titanic.head()

    survived  pclass     sex   age  sibsp  parch     fare embarked deck
1          1       1  female  38.0      1      0  71.2833        C    C
3          1       1  female  35.0      1      0  53.1000        S    C
6          0       1    male  54.0      0      0  51.8625        S    E
10         1       3  female   4.0      1      1  16.7000        S    G
11         1       1  female  58.0      0      0  26.5500        S    C

In [16]:
sns.catplot(data=titanic, x='survived', y='age', hue='sex')

## Visualisation de distributions

In [20]:
sns.displot(titanic['fare'])