In [1]:
import numpy as np
import pandas as pd

In [3]:
commande = pd.read_csv(r"D:\Dev\Mes fichiers Python\Fichiers de données\commande.csv")

produits = pd.read_csv(r"D:\Dev\Mes fichiers Python\Fichiers de données\produits.csv")

data = pd.merge(commande, produits, on='id', how='inner')

data['CA'] = data['nombre'] * data['prix']

data_grouped = data.groupby('id').sum()

In [4]:
data_grouped.sort_values('nombre', ascending=False).head()

    nombre   prix      CA
id
8      103  435.2  2636.8
35      98  224.0  1568.0
65      96  420.8  2524.8
84      91  198.0  1201.2
30      89  423.3  2216.1

In [5]:
data_grouped.sort_values('CA', ascending=True).head()

    nombre  prix     CA
id
58       6  95.2  142.8
92      20  37.0  148.0
63      22  42.5  187.0
29      21  54.0  226.8
62      20  52.0  260.0

In [3]:
x=5
print(x)

5