In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [13]:
import psycopg2

from sqlalchemy import create_engine

In [14]:
folder = 'D:/Data_Analyst_Projet/Projet 8/Tableau/Fichiers csv nettoyes/'

In [15]:
population=pd.read_csv(folder+'population.csv')
region=pd.read_csv(folder+'continent.csv')
political_stability=pd.read_csv(folder+'political_stability.csv')
mortality_water=pd.read_csv(folder+'mortality_water.csv')
water_service=pd.read_csv(folder+'water_service.csv')

### Création base de données

In [16]:
from sklearn.preprocessing import LabelEncoder

#### Table continent

In [17]:
continent = region.copy()

In [18]:
continent = continent.append({'Continent':'unknown', 'Country':'unknown'}, ignore_index=True)

C:\Users\Raphaël\AppData\Local\Temp\ipykernel_376\2966402779.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  continent = continent.append({'Continent':'unknown', 'Country':'unknown'}, ignore_index=True)

In [19]:
# création des transformeur
encodeur = LabelEncoder()

encodeur.fit_transform(continent['Continent'])

array([3, 3, 3, 5, 3, 3, 2, 4, 3, 3, 4, 3, 0, 1, 3, 5, 1, 1, 5, 1, 0, 1,
       3, 3, 3, 0, 4, 3, 1, 1, 3, 0, 0, 3, 3, 0, 3, 3, 0, 3, 1, 1, 1, 3,
       3, 4, 2, 2, 3, 3, 3, 5, 2, 3, 0, 2, 3, 5, 3, 2, 3, 3, 5, 3, 1, 3,
       5, 3, 2, 4, 3, 5, 1, 0, 5, 3, 3, 2, 2, 1, 1, 5, 3, 3, 2, 5, 3, 3,
       3, 0, 5, 3, 3, 0, 5, 3, 3, 0, 3, 4, 3, 3, 3, 2, 3, 5, 0, 3, 3, 0,
       1, 1, 3, 5, 0, 2, 0, 0, 1, 1, 1, 1, 1, 0, 1, 5, 0, 0, 0, 0, 0, 0,
       0, 5, 1, 0, 2, 1, 1, 2, 0, 0, 5, 0, 0, 0, 1, 1, 4, 1, 5, 0, 0, 2,
       0, 0, 4, 0, 5, 0, 0, 5, 0, 4, 0, 5, 0, 5, 1, 5, 1, 1, 1, 0, 2, 0,
       0, 5, 2, 0, 2, 1, 2, 4, 4, 0, 5, 1, 3, 2, 1, 5, 2, 0, 6])

In [20]:
# création de la table continent et de l'id_continent grace au transformeur
continent = continent.drop(columns='Country').drop_duplicates().reset_index(drop=True)
continent['id_continent'] = encodeur.fit_transform(continent['Continent'])

In [21]:
continent = continent.rename(columns={'Continent':'continent'})

#### Table pays_annee

In [22]:
folder_import = 'D:/Data_Analyst_Projet/Projet 8/Donnée debut projet/DAN-P8-donnees/donnees_python/'
df=pd.read_csv(folder_import+'jointure.csv')

In [23]:
C=df.copy()

In [24]:
C = C[(C['Granularity']=='Total')]

In [25]:
C = C[C['Population'].notna()]

In [26]:
C = C[['Country', 'Year', 'Population', 'Political_Stability', 'Region', 'WASH deaths', 'basic_service_water_population', 'safely_service_water_population']].reset_index(drop=True)

In [27]:
table_population = C

In [28]:
table_population.loc[table_population['Region'].isna(), 'Region'] = 'unknown'

In [29]:
table_population['id_pays_year'] = encodeur.fit_transform(table_population['Country']+table_population['Year'].astype('str'))

In [30]:
table_population['id_continent'] = encodeur.fit_transform(table_population['Region'])

In [31]:
table_population = table_population.drop(columns='Region')

In [32]:
table_population

,Country,Year,Population,Political_Stability,WASH deaths,basic_service_water_population,safely_service_water_population,id_pays_year,id_continent
0,Afghanistan,2000,20779953.0,-2.44,NaN,5.770988e+06,NaN,0,2
1,Afghanistan,2001,21606988.0,NaN,NaN,6.006151e+06,NaN,1,2
2,Afghanistan,2002,22600770.0,-2.04,NaN,6.757802e+06,NaN,2,2
3,Afghanistan,2003,23680871.0,-2.20,NaN,7.579079e+06,NaN,3,2
4,Afghanistan,2004,24726684.0,-2.30,NaN,8.438285e+06,NaN,4,2
...,...,...,...,...,...,...,...,...,...
4406,Zimbabwe,2014,13586707.0,-0.71,NaN,8.895676e+06,NaN,4406,0
4407,Zimbabwe,2015,13814629.0,-0.62,NaN,8.977551e+06,NaN,4407,0
4408,Zimbabwe,2016,14030331.0,-0.62,3965.033,9.051194e+06,NaN,4408,0
4409,Zimbabwe,2017,14236595.0,-0.71,NaN,9.118714e+06,NaN,4409,0
4410,Zimbabwe,2018,14438802.0,-0.71,NaN,NaN,NaN,4410,0

In [33]:
pays_annee = table_population

In [34]:
pays_annee.columns = ['country', 'year', 'population', 'political_stability', 'water_death_number',
                      'basic_service_water_population', 'safely_service_water_population', 'id_pays_year', 'id_continent']

In [35]:
pays_annee

,country,year,population,political_stability,water_death_number,basic_service_water_population,safely_service_water_population,id_pays_year,id_continent
0,Afghanistan,2000,20779953.0,-2.44,NaN,5.770988e+06,NaN,0,2
1,Afghanistan,2001,21606988.0,NaN,NaN,6.006151e+06,NaN,1,2
2,Afghanistan,2002,22600770.0,-2.04,NaN,6.757802e+06,NaN,2,2
3,Afghanistan,2003,23680871.0,-2.20,NaN,7.579079e+06,NaN,3,2
4,Afghanistan,2004,24726684.0,-2.30,NaN,8.438285e+06,NaN,4,2
...,...,...,...,...,...,...,...,...,...
4406,Zimbabwe,2014,13586707.0,-0.71,NaN,8.895676e+06,NaN,4406,0
4407,Zimbabwe,2015,13814629.0,-0.62,NaN,8.977551e+06,NaN,4407,0
4408,Zimbabwe,2016,14030331.0,-0.62,3965.033,9.051194e+06,NaN,4408,0
4409,Zimbabwe,2017,14236595.0,-0.71,NaN,9.118714e+06,NaN,4409,0
4410,Zimbabwe,2018,14438802.0,-0.71,NaN,NaN,NaN,4410,0

#### Table pays_genre

In [36]:
A = df.copy()

In [37]:
A = A[(A['Granularity']=='Male')|((A['Granularity']=='Female'))]

In [38]:
pays_genre = A[['Country', 'Granularity', 'Year', 'Population', 'WASH deaths']].reset_index(drop=True)

In [39]:
pays_genre.columns = ['country', 'genre', 'year', 'population', 'water_death_number']

In [40]:
pays_genre['id_pays_genre']=encodeur.fit_transform(pays_genre['country']+pays_genre['genre']+pays_genre['year'].astype('str'))

In [41]:
pays_genre['id_pays_year']=encodeur.fit_transform(pays_genre['country']+pays_genre['year'].astype('str'))

In [42]:
pays_genre

,country,genre,year,population,water_death_number,id_pays_genre,id_pays_year
0,Afghanistan,Male,2000,10689508.0,NaN,19,0
1,Afghanistan,Female,2000,10090449.0,NaN,0,0
2,Afghanistan,Male,2001,11117754.0,NaN,20,1
3,Afghanistan,Female,2001,10489238.0,NaN,1,1
4,Afghanistan,Male,2002,11642106.0,NaN,21,2
...,...,...,...,...,...,...,...
7613,Zimbabwe,Female,2016,7356132.0,1630.404269,7596,3806
7614,Zimbabwe,Male,2017,6777054.0,NaN,7616,3807
7615,Zimbabwe,Female,2017,7459545.0,NaN,7597,3807
7616,Zimbabwe,Male,2018,6879119.0,NaN,7617,3808
7617,Zimbabwe,Female,2018,7559693.0,NaN,7598,3808

#### Table pays_zone

In [43]:
B = df.copy()

In [44]:
B = B[(B['Granularity']=='Rural')|((B['Granularity']=='Urban'))]

In [45]:
B = B[B['Population'].notna()]

In [46]:
B = B[['Country', 'Granularity', 'Year', 'Population', 'basic_service_water_population', 'safely_service_water_population']].reset_index(drop=True)

In [47]:
B.columns = ['country', 'zone', 'year', 'population',
       'basic_service_water_population', 'safely_service_water_population']

In [48]:
pays_zone = B

In [49]:
pays_zone['id_pays_zone']=encodeur.fit_transform(pays_zone['country']+pays_zone['zone']+pays_zone['year'].astype('str'))

In [50]:
pays_zone['id_pays_year']=encodeur.fit_transform(pays_zone['country']+pays_zone['year'].astype('str'))

### Recap fichiers

In [51]:
continent

               continent  id_continent
0                 Europe             3
1        Western Pacific             5
2  Eastern Mediterranean             2
3        South-East Asia             4
4                 Africa             0
5               Americas             1
6                unknown             6

In [55]:
pays_annee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          4411 non-null   object
 1   year                             4411 non-null   int64
 2   population                       4411 non-null   float64
 3   political_stability              3509 non-null   float64
 4   water_death_number               183 non-null    float64
 5   basic_service_water_population   3430 non-null   float64
 6   safely_service_water_population  1739 non-null   float64
 7   id_pays_year                     4411 non-null   int32
 8   id_continent                     4411 non-null   int32
dtypes: float64(5), int32(2), int64(1), object(1)
memory usage: 275.8+ KB

In [57]:
pays_zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          8790 non-null   object
 1   zone                             8790 non-null   object
 2   year                             8790 non-null   int64
 3   population                       8790 non-null   float64
 4   basic_service_water_population   5928 non-null   float64
 5   safely_service_water_population  1529 non-null   float64
 6   id_pays_zone                     8790 non-null   int32
 7   id_pays_year                     8790 non-null   int32
dtypes: float64(3), int32(2), int64(1), object(2)
memory usage: 480.8+ KB

In [56]:
pays_genre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7618 entries, 0 to 7617
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             7618 non-null   object
 1   genre               7618 non-null   object
 2   year                7618 non-null   int64
 3   population          7618 non-null   float64
 4   water_death_number  366 non-null    float64
 5   id_pays_genre       7618 non-null   int32
 6   id_pays_year        7618 non-null   int32
dtypes: float64(2), int32(2), int64(1), object(2)
memory usage: 357.2+ KB

### Export dans Postgresql

In [947]:
# création de la connexion 
conn = psycopg2.connect(
    host="localhost",
    database="Projet8",
    user="postgres",
    password="radrio06"
)

# création de l'engine qui sert à la connection
engine = create_engine('postgresql://postgres:radrio06@localhost:5432/Projet8')

In [950]:
# mise en place de l'index
continent.set_index('id_continent', inplace=True)
pays_annee.set_index(['id_pays_year', 'id_continent'], inplace=True)
pays_genre.set_index(['id_pays_genre', 'id_pays_year'], inplace=True)
pays_zone.set_index(['id_pays_zone', 'id_pays_year'], inplace=True)

In [951]:
# export
continent.to_sql('continent', engine, if_exists='replace', index=True)

7

In [952]:
pays_annee.to_sql('pays_annee', engine, if_exists='replace', index=True)
pays_genre.to_sql('pays_genre', engine, if_exists='replace', index=True)
pays_zone.to_sql('pays_zone', engine, if_exists='replace', index=True)

790

In [953]:
# valide le commit, les modifications effectuées dans la base
conn.commit()

# ferme la connexion en fin de programme
conn.close()