In [1]:
# Import des librairies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import re
import time

from sklearn.preprocessing import LabelEncoder

In [2]:
folder = 'D:/Fichiers_dev/test_xml/tables/'

In [3]:
# import du fichier cle valeur
data = pd.read_csv(folder + 'cle_valeur.csv')
data.head()

,id_declaration,chemins,champs,valeurs,niveaux
0,4344aaa1-874d-4e6d-9b1a-45f7725b710c,declaration/dateDepot,dateDepot,11/07/2022 15:40:13,1
1,4344aaa1-874d-4e6d-9b1a-45f7725b710c,declaration/uuid,uuid,4344aaa1-874d-4e6d-9b1a-45f7725b710c,1
2,4344aaa1-874d-4e6d-9b1a-45f7725b710c,declaration/origine,origine,ADEL,1
3,4344aaa1-874d-4e6d-9b1a-45f7725b710c,declaration/complete,complete,true,1
4,4344aaa1-874d-4e6d-9b1a-45f7725b710c,declaration/attachedFiles,attachedFiles,\n\t\t\t,1

In [5]:
# nettoyage des valeurs tabulation "\t"
data = data.drop(data[data['valeurs'].str.contains('\t')].index)
data.head(100)

ValueError: Cannot mask with non-boolean array containing NA / NaN values