In [2]:
liste=[2,5,6,8,9,2,4]
liste

[2, 5, 6, 8, 9, 2, 4]

In [6]:
for element in liste:
    if element%2==0:
        print(element)

2
6
8
2
4

In [7]:
phrase='voici une phrase'
phrase

'voici une phrase'

In [10]:
phrase[:5]

'voici'

In [12]:
phrase[-6:]

'phrase'

In [14]:
phrase[::2]

'viiueprs'

In [15]:
phrase[::-1]

'esarhp enu iciov'

In [17]:
def fonction(x):
    y=4*x+5
    return y
fonction(5)

25

In [19]:
list(map(fonction,liste))

[13, 25, 29, 37, 41, 13, 21]

In [20]:
list(map(lambda x:4*x+5,liste))

[13, 25, 29, 37, 41, 13, 21]

In [21]:
import numpy as np
a= np.random.random(int(1e8))

import time
start=time.time()
sum(a) / len(a)
print(time.time() - start, 'seconds')

start = time.time()
np.mean(a)
print(time.time() - start, 'seconds')

8.804867029190063 seconds
0.28363823890686035 seconds

In [29]:
import pandas as pd
folder='D:/Formation Data Analyst/Projet 4/Données/DAN-P4-FAO/'
df_dispo_alimentaire=pd.read_csv('D:/Formation Data Analyst/Projet 4/Données/DAN-P4-FAO/dispo_alimentaire.csv',sep=';')
df_dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Unnamed: 18
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,"1,72","0,2","0,77",53,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,"1,29","0,01","0,02",41,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,"0,06","0,01","0,03",2,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0,NaN,NaN,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,"2,7","0,02","0,05",82,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_dispo_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 19 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2858 non-null   object
 4   Autres Utilisations                                            5469 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14143 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14017 non-null  object
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11812 non-null  object
 8   Disponibilité de protéines en quantité (g/personne/jour)       11566 non-null  object
 9   Disponibilité intérieure                                       15346 non-null  object
 10  Exportations - Quantité                                        12229 non-null  float64
 11  Importations - Quantité                                        14853 non-null  float64
 12  Nourriture                                                     14024 non-null  float64
 13  Pertes                                                         4379 non-null   float64
 14  Production                                                     9095 non-null   float64
 15  Semences                                                       2215 non-null   float64
 16  Traitement                                                     2279 non-null   float64
 17  Variation de stock                                             6727 non-null   float64
 18  Unnamed: 18                                                    97 non-null     float64
dtypes: float64(11), object(8)
memory usage: 2.3+ MB

In [ ]:
for i in df_sous_nutrition['Pays'].unique():
    if i not in df_population['Pays'].unique():
        print(i)