In [7]:
import numpy as np
import pandas as pd

notes = pd.read_csv(r"D:\Dev\Mes fichiers Python\Fichiers de données\notes.csv")
print(notes)

                   nom          matiere  note
0     Laurent Dagenais         Français    16
1           Guy Marois         Français    13
2      Beaufort Lesage         Français     8
3       Russell Durand         Français    10
4          Alexis Riel         Français    15
..                 ...              ...   ...
79    Agrican Foucault  Physique/Chimie     9
80  Prunella Josseaume  Physique/Chimie     6
81      Yseult Charest  Physique/Chimie    16
82      Dorothee Aupry  Physique/Chimie    17
83       Amaury Reault  Physique/Chimie     8

[84 rows x 3 columns]

In [14]:
# somme des notes de math
sum(notes.loc[notes['matiere'] == 'Mathématiques','note'])

238

In [12]:
# nombre de note de math
notes.loc[notes['matiere'] == 'Mathématiques',:].shape[0]

21

In [16]:
moyenne_math = round((sum(notes.loc[notes['matiere'] == 'Mathématiques','note']))/(notes.loc[notes['matiere'] == 'Mathématiques',:].shape[0]),2)
print (moyenne_math)

11.33

In [23]:
moyenne_generale = notes.groupby(['nom'])['note'].mean()
print (moyenne_generale)

SyntaxError: invalid syntax (2941212272.py, line 4)

In [64]:
import numpy as np
import pandas as pd

commande = pd.read_csv(r"D:\Dev\Mes fichiers Python\Fichiers de données\commande.csv")
produits = pd.read_csv(r"D:\Dev\Mes fichiers Python\Fichiers de données\produits.csv")


produits.head()
#commande.head()

   id  prix
0   0  24.8
1   1  13.1
2   2  23.7
3   3  16.0
4   4  19.0

In [6]:
# Il y a une centaine de produits et près de 1 000 commandes sur ces produits. 
# Faites les opérations nécessaires pour déterminer l’identifiant du produit qui a été le plus vendu 
# (à ne pas confondre avec le produit qui a été le plus commandé), et le produit qui a rapporté le moins 
# de chiffre d’affaires au total :

In [73]:
donnee_commande = pd.merge(commande, produits, on = 'id', how = 'left')

donnee_commande['Total commande ']=donnee_commande['nombre']*donnee_commande['prix']

nombre = donnee_commande['nombre']
Total_commande  = donnee_commande['Total commande ']
# print (donnee_commande)
print (type(Total_commande))

<class 'pandas.core.series.Series'>

In [78]:
CA_par_produit = donnee_commande.groupby('id').sum()
CA_par_produit.reset_index()
print (CA_par_produit)

print (CA_par_produit.sort_values('Total commande', ascending = False))

# print (CA_par_produit['Total commande'].min())
# CA_par_produit.sort_values('Total commande')

    nombre   prix  Total commande
id
0       47  223.2           1165.6
1       49  131.0            641.9
2       39  189.6            924.3
3       34   80.0            544.0
4       45  152.0            855.0
..     ...    ...              ...
95      24   84.8            508.8
96      45  188.0            846.0
97      48   71.2            427.2
98      84  240.0           1680.0
99      76  165.2            896.8

[100 rows x 3 columns]

KeyError: 'Total commande'

In [75]:
nombre_vente_totales = donnee_commande.groupby('id').sum()
nombre_vente_totales.reset_index()
print (nombre_vente_totales)

    nombre   prix  Total commande
id
0       47  223.2           1165.6
1       49  131.0            641.9
2       39  189.6            924.3
3       34   80.0            544.0
4       45  152.0            855.0
..     ...    ...              ...
95      24   84.8            508.8
96      45  188.0            846.0
97      48   71.2            427.2
98      84  240.0           1680.0
99      76  165.2            896.8

[100 rows x 3 columns]

In [68]:
nombre_vente_totales.sort_values('nombre', ascending = False)

    nombre   prix  Total commande
id
8      103  435.2           2636.8
35      98  224.0           1568.0
65      96  420.8           2524.8
84      91  198.0           1201.2
30      89  423.3           2216.1
..     ...    ...              ...
29      21   54.0            226.8
92      20   37.0            148.0
62      20   52.0            260.0
28      15   79.2            297.0
58       6   95.2            142.8

[100 rows x 3 columns]

In [70]:
print(CA_par_produit['Total commande'])

KeyError: 'Total commande'