In [1]:
import numpy as np
import pandas as pd

In [2]:
folder = "D:/Formation Talend/Projet/ICOMMERCE/20240117/"

In [3]:
client = pd.read_csv(folder+"ICOM_20240117_CUSTOMER.csv", delimiter='|')

In [4]:
client.head()

,ID_CLIENT,NOM_CLIENT,PREN_CLIENT,CD_POSTAL_CLIENT,VILLE_CLIENT,PAYS_CLIENT,REGION_CLIENT,CD_TYPE_CLIENT
0,AB-100151402,Aaron,Cynthicia,76017.0,Arlington,États-Unis,Centre des États-Unis,T001
1,JR-162107,Justin,Ennis,NaN,Caloundra,Australie,Océanie,T002
2,CR-127307,Craig,Ouatig,NaN,Brisbane,Australie,Océanie,T001
3,KM-1637548,Katherine,Benjamn,NaN,Mainz,Allemagne,Europe de l'Ouest,T003
4,RH-9495111,Rick,Iskandr,NaN,Dakar,Sénégal,Afrique de l'Ouest,T001

In [5]:
client.isna().sum()

ID_CLIENT               0
NOM_CLIENT              0
PREN_CLIENT             0
CD_POSTAL_CLIENT    14914
VILLE_CLIENT            0
PAYS_CLIENT             0
REGION_CLIENT           0
CD_TYPE_CLIENT          0
dtype: int64

In [11]:
client.columns

Index(['ID_CLIENT', 'NOM_CLIENT', 'PREN_CLIENT', 'CD_POSTAL_CLIENT',
       'VILLE_CLIENT', 'PAYS_CLIENT', 'REGION_CLIENT', 'CD_TYPE_CLIENT'],
      dtype='object')

In [22]:
a = ['row5.'+ champs + ' +"|"+ ' for champs in client.columns[:-1]]
a.append('row5.' + client.columns[-1])
''.join(a)

'row5.ID_CLIENT +"|"+ row5.NOM_CLIENT +"|"+ row5.PREN_CLIENT +"|"+ row5.CD_POSTAL_CLIENT +"|"+ row5.VILLE_CLIENT +"|"+ row5.PAYS_CLIENT +"|"+ row5.REGION_CLIENT +"|"+ row5.CD_TYPE_CLIENT'

In [23]:
a = ['row6.'+ champs + ' +"|"+ ' for champs in client.columns[:-1]]
a.append('row5.' + client.columns[-1])
''.join(a)

'row6.ID_CLIENT +"|"+ row6.NOM_CLIENT +"|"+ row6.PREN_CLIENT +"|"+ row6.CD_POSTAL_CLIENT +"|"+ row6.VILLE_CLIENT +"|"+ row6.PAYS_CLIENT +"|"+ row6.REGION_CLIENT +"|"+ row5.CD_TYPE_CLIENT'

In [24]:
a = ['row3.'+ champs + ' +"|"+ ' for champs in client.columns[:-1]]
a.append('row5.' + client.columns[-1])
''.join(a)

'row3.ID_CLIENT +"|"+ row3.NOM_CLIENT +"|"+ row3.PREN_CLIENT +"|"+ row3.CD_POSTAL_CLIENT +"|"+ row3.VILLE_CLIENT +"|"+ row3.PAYS_CLIENT +"|"+ row3.REGION_CLIENT +"|"+ row5.CD_TYPE_CLIENT'

In [ ]:
def phrase_dependance