In [7]:
import pandas as pd
import numpy as np

In [145]:
import psycopg2

In [146]:
folder2 = 'D:/Data_Analyst_Projet/Test/'

In [162]:
continent = pd.read_csv(folder2+"continent.csv")
pays_annee = pd.read_csv(folder2+"pays_annee.csv")
pays_genre = pd.read_csv(folder2+"pays_genre.csv")
pays_zone = pd.read_csv(folder2+"pays_zone.csv")

In [172]:
# création de la connexion 
conn = psycopg2.connect(
    host="localhost",
    database="test",
    user="postgres",
    password="radrio06"
    )

In [173]:
# déclaration d'un curseur
cur = conn.cursor()

In [174]:
continent

   id_continent              continent
0             3                 Europe
1             5        Western Pacific
2             2  Eastern Mediterranean
3             4        South-East Asia
4             0                 Africa
5             1               Americas
6             6                unknown

In [175]:
values = [(int(continent['id_continent'][i]), str(continent['continent'][i])) for i in range(continent.shape[0])]
values

[(3, 'Europe'),
 (5, 'Western Pacific'),
 (2, 'Eastern Mediterranean'),
 (4, 'South-East Asia'),
 (0, 'Africa'),
 (1, 'Americas'),
 (6, 'unknown')]

In [176]:
query = "INSERT INTO continent (id_continent, continent) VALUES (%s, %s)"
values = values

In [178]:
for element in values : 
    cur.execute(query, element)

In [181]:
conn.commit()

InterfaceError: connection already closed

In [180]:
cur.close()
conn.close()