# Préparation Données

## Sommaire <a id='sommaire'></a>
<ol>
    <li><a href="#sous_nutrition">Préparation données fichier sous_nutrition</a></li>    
        <ol>
            <li><a href="#sous_nutrition_import">Import du fichier csv sous_nutrition</a></li>
            <li><a href="#sous_nutrition_description">Description</a></li>
            <li><a href="#sous_nutrition_modification">Modification</a></li>
            <li><a href="#sous_nutrition_conversion">Conversion des types</a></li>
            <li><a href="#sous_nutrition_date">Traitement des dates</a></li>
            <li><a href="#sous_nutrition_traitement_doublons">Traitement des doublons</a></li>
            <li><a href="#sous_nutrition_export">Export du fichier nettoyé en csv</a></li>   
        </ol>
    <li><a href="#population">Préparation données fichier population</a></li>
        <ol>
            <li><a href="#import_population">Importation du fichier</a></li>
            <li><a href="#renommage_population">Renommage des colonnes</a></li>
            <li><a href="#exploration_population">Exploration du fichier</a></li>
            <li><a href="#modification_colonne_population">Modification de la colonne Population</a></li>
            <li><a href="#modification_type_population">Modification du type de la colonne Population</a></li>
            <li><a href="#traitement_doublons_population">Traitement des doublons</a></li>
            <li><a href="#export_population">Export du fichier nettoyé en csv</a></li>    
        </ol>
    <li><a href="#aide_alimentaire">Préparation données fichier aide_alimentaire</a></li>
        <ol>
            <li><a href="#aide_alimentaire_import">Importation du fichier</a></li>
            <li><a href="#aide_alimentaire_renommage">Renommage des colonnes</a></li>
            <li><a href="#aide_alimentaire_exploration">Exploration des données</a></li>
            <li><a href="#aide_alimentaire_traitement_doublons">Traitement des doublons</a></li>
            <li><a href="#aide_alimentaire_standardisation">Standardisation des noms de pays</a></li>
            <li><a href="#aide_alimentaire_export">Export fichier nettoyé en csv</a></li>
        </ol>
    <li><a href="#dispo_alimentaire">Préparation données fichier dispo_alimentaire</a></li>
        <ol>
            <li><a href="#dispo_alimentaire_renommage">Renommage des colonnes</a></li>
            <li><a href="#dispo_alimentaire_exploration">Exploration du fichier</a></li>
            <li><a href="#dispo_alimentaire_traitement_valnul">Traitement des valeurs nulles</a></li>
            <li><a href="#dispo_alimentaire_modif_unites">Modification des unités</a></li>
            <li><a href="#dispo_alimentaire_traitement_doublons">Traitement des doublons</a></li>
            <li><a href="#dispo_alimentaire_standardisation">Standardisation des noms de pays avec pour base le nom de pays du fichier population</a></li>
            <li><a href="#dispo_alimentaire_export">Export fichier nettoyé en csv</a></li>
        </ol>
</ol>

<a id='sous_nutrition'></a>
# Préparation données fichier sous_nutrition

<a id='sous_nutrition_import'></a>
## Import du fichier csv sous_nutrition<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
folder='D:/Formation Data Analyst/Projet 4/Données/Données analyse python/'

In [5]:
df_sous_nutrition=pd.read_csv(folder+'sous_nutrition.csv')
df_sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

<a id='sous_nutrition_renom'></a>
## Renommage des colonnes

In [6]:
df_sous_nutrition.rename(columns={'Zone':'Pays', 'Valeur':'Population_en_sous_nutrition'}, inplace=True)
df_sous_nutrition.head()

          Pays      Année Population_en_sous_nutrition
0  Afghanistan  2012-2014                          8.6
1  Afghanistan  2013-2015                          8.8
2  Afghanistan  2014-2016                          8.9
3  Afghanistan  2015-2017                          9.7
4  Afghanistan  2016-2018                         10.5

<a id='sous_nutrition_description'></a>
## Description du fichier<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [7]:
df_sous_nutrition.shape

(1218, 3)

In [8]:
df_sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Pays                          1218 non-null   object
 1   Année                         1218 non-null   object
 2   Population_en_sous_nutrition  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

In [9]:
df_sous_nutrition.dtypes

Pays                            object
Année                           object
Population_en_sous_nutrition    object
dtype: object

In [10]:
df_sous_nutrition.describe()

               Pays      Année Population_en_sous_nutrition
count          1218       1218                          624
unique          203          6                          139
top     Afghanistan  2012-2014                         <0.1
freq              6        203                          120

<a id='sous_nutrition_modification'></a>
## Modification de certaines valeurs<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

### Remplacement des NaN par 0

In [11]:
df_sous_nutrition.fillna(0, inplace=True)
df_sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Pays                          1218 non-null   object
 1   Année                         1218 non-null   object
 2   Population_en_sous_nutrition  1218 non-null   object
dtypes: object(3)
memory usage: 28.7+ KB

### Dans ['Population_en_sous_nutrition_millions'], remplacement des '<0.1' par 0

In [12]:
df_sous_nutrition.loc[df_sous_nutrition['Population_en_sous_nutrition']=='<0.1','Population_en_sous_nutrition']=0
df_sous_nutrition.head()

          Pays      Année Population_en_sous_nutrition
0  Afghanistan  2012-2014                          8.6
1  Afghanistan  2013-2015                          8.8
2  Afghanistan  2014-2016                          8.9
3  Afghanistan  2015-2017                          9.7
4  Afghanistan  2016-2018                         10.5

In [13]:
df_sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Pays                          1218 non-null   object
 1   Année                         1218 non-null   object
 2   Population_en_sous_nutrition  1218 non-null   object
dtypes: object(3)
memory usage: 28.7+ KB

### Modification colonne Population_en_sous_nutrition

In [14]:
df_sous_nutrition['Population_en_sous_nutrition']=df_sous_nutrition['Population_en_sous_nutrition']*1000000
df_sous_nutrition.head()

          Pays      Année                       Population_en_sous_nutrition
0  Afghanistan  2012-2014  8.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68...
1  Afghanistan  2013-2015  8.88.88.88.88.88.88.88.88.88.88.88.88.88.88.88...
2  Afghanistan  2014-2016  8.98.98.98.98.98.98.98.98.98.98.98.98.98.98.98...
3  Afghanistan  2015-2017  9.79.79.79.79.79.79.79.79.79.79.79.79.79.79.79...
4  Afghanistan  2016-2018  10.510.510.510.510.510.510.510.510.510.510.510...

<a id='sous_nutrition_conversion'></a>
## Conversion des types<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [15]:
df_sous_nutrition['Population_en_sous_nutrition']=df_sous_nutrition['Population_en_sous_nutrition'].astype('int64')
df_sous_nutrition.dtypes

ValueError: invalid literal for int() with base 10: '8.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68.68

<a id='sous_nutrition_date'></a>
## Remplacement interval année par valeur<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
index=0
for annee in df_sous_nutrition['Année']:
    if annee == '2012-2014': df_sous_nutrition.iloc[index,1] = '2013'
    elif annee == '2013-2015': df_sous_nutrition.iloc[index,1] = '2014'
    elif annee == '2014-2016': df_sous_nutrition.iloc[index,1] = '2015'
    elif annee == '2015-2017': df_sous_nutrition.iloc[index,1] = '2016'
    elif annee == '2016-2018': df_sous_nutrition.iloc[index,1] = '2017'
    elif annee == '2017-2019': df_sous_nutrition.iloc[index,1] = '2018'
    index=index+1

In [ ]:
valeur_annee = df_sous_nutrition['Année'].unique()
valeur_annee

In [ ]:
df_sous_nutrition.head()

## Formatage année<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_sous_nutrition['Année']=pd.to_datetime(df_sous_nutrition['Année'])
df_sous_nutrition['Année']=df_sous_nutrition['Année'].dt.year
df_sous_nutrition.head()

In [ ]:
df_sous_nutrition.dtypes

In [ ]:
df_sous_nutrition.describe(include='all')

<a id='sous_nutrition_traitement_doublons'></a>
## Traitement des doublons<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_sous_nutrition[df_sous_nutrition.duplicated(subset=['Pays','Année'])]

In [ ]:
df_sous_nutrition.drop_duplicates(subset=['Pays','Année'])

In [ ]:
df_sous_nutrition.head(30)

<a id='sous_nutrition_export'></a>
## Export fichier nettoyé en csv<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_sous_nutrition.to_csv(folder+'sous_nutrition_2.csv', index=False)

<a id='population'></a>
# Préparation données fichier population<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

<a id='import_population'></a>
## Importation du fichier <a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_population=pd.read_csv(folder+'population.csv')
df_population.head()

<a id='renommage_population'></a>
## Renommage des colonnes<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_population.rename(columns={'Zone':'Pays', 'Valeur':'Population'}, inplace=True)
df_population.head()

<a id='exploration_population'></a>
## Exploration du fichier<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_population.shape

In [ ]:
df_population.info()

In [ ]:
df_population.describe(include='all')

In [ ]:
df_population.dtypes

<a id='modification_colonne_population'></a>
## Modification de la colonne Population<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_population['Population']=df_population['Population']*1000
df_population.head()

<a id='modification_type_population'></a>
## Modification du type de la colonne Population<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_population['Population']=df_population['Population'].astype('int64')

In [ ]:
df_population.head(30)

<a id='traitement_doublons_population'></a>
## Traitement des doublons <a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_population[df_population.duplicated(subset=['Pays','Année'])]

In [ ]:
df_population.drop_duplicates(subset=['Pays','Année'])

<a id='export_population'></a>
## Export fichier nettoyé en csv <a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_population.to_csv(folder+'population_2.csv', index=False)

<a id='aide_alimentaire'></a>
# Préparation données fichier aide_alimentaire<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

<a id='aide_alimentaire_import'></a>
## Importation du fichier<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_aide_alimentaire=pd.read_csv(folder+'aide_alimentaire.csv')
df_aide_alimentaire.head()

<a id='aide_alimentaire_renommage'></a>
## Renommage des colonnes<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_aide_alimentaire.rename(columns={'Pays bénéficiaire':'Pays','Produit':'Produit_aide','Valeur':'Tonnage aide alimentaire'}, inplace=True)
df_aide_alimentaire.head()

<a id='aide_alimentaire_exploration'></a>
## Exploration des données<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_aide_alimentaire.shape

In [ ]:
df_aide_alimentaire.info()

In [ ]:
df_aide_alimentaire.describe(include='all')

In [ ]:
df_aide_alimentaire.head()

<a id='aide_alimentaire_traitement_doublons'></a>
## Traitement des doublons<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_aide_alimentaire[df_aide_alimentaire.duplicated(subset=['Pays','Année','Produit_aide'])]

In [ ]:
df_aide_alimentaire.drop_duplicates(subset=['Pays','Année','Produit_aide'])

<a id='aide_alimentaire_standardisation'></a>
## Standardisation des noms de pays<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

Nous allons nous baser sur le nom des pays du fichier population pour chacun des fichiers
Dans le fichier aide_alimentaire, il y aura a changer le nom de pays 'Swaziland' en 'Eswatini', pour le fichier sous_nutrition, il n'y avait aucun nom de pays à changer

In [ ]:
df_aide_alimentaire.loc[df_aide_alimentaire['Pays']=='Swaziland','Pays']='Eswatini'

In [ ]:
df_aide_alimentaire.loc[df_aide_alimentaire['Pays']=='Eswatini',:]

<a id='aide_alimentaire_export'></a>
## Export fichier nettoyé en csv<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_aide_alimentaire.to_csv(folder+'aide_alimentaire_2.csv', index=False)

<a id='dispo_alimentaire'></a>
# Préparation données fichier dispo_alimentaire<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_dispo_alimentaire=pd.read_csv(folder+'dispo_alimentaire.csv')
df_dispo_alimentaire.head()

<a id='dispo_alimentaire_renommage'></a>
## Renommage des colonnes<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_dispo_alimentaire.rename(columns=
                            {'Zone':'Pays', 
                             'Produit':'Produit_disponibilite',
                             "Disponibilité alimentaire en quantité (kg/personne/an)":"Disponibilité alimentaire en quantité (g/personne/jour)"}
                            , inplace=True)
df_dispo_alimentaire.head()

<a id='dispo_alimentaire_exploration'></a>
## Exploration du fichier<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_dispo_alimentaire.shape

In [ ]:
df_dispo_alimentaire.info()

In [ ]:
df_dispo_alimentaire.describe()
# valeurs négatives est ce normal ?
# doit on les passer à 0 ?

<a id='dispo_alimentaire_traitement_valnul'></a>
## Traitement des valeurs nulles<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_dispo_alimentaire.fillna(0, inplace=True)
df_dispo_alimentaire.info()

<a id='dispo_alimentaire_modif_unites'></a>
## Modification des unités<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_dispo_alimentaire.head()

### Modification "Disponibilité alimentaire en quantité (kg/personne/an)" en "Disponibilité alimentaire en quantité (g/personne/jour)"

In [ ]:
df_dispo_alimentaire["Disponibilité alimentaire en quantité (g/personne/jour)"]=df_dispo_alimentaire["Disponibilité alimentaire en quantité (g/personne/jour)"]*1000/365

### On arrondie à 2 décimales la colonne "Disponibilité alimentaire en quantité (g/personne/jour)"

In [ ]:
df_dispo_alimentaire["Disponibilité alimentaire en quantité (g/personne/jour)"]=round(df_dispo_alimentaire["Disponibilité alimentaire en quantité (g/personne/jour)"],2)

In [ ]:
df_dispo_alimentaire.head()

### Convertissage en tonnes (avant en milliers de tonnes) des 11 variables des utilisations/moyens d’acquisition de la disponibilité alimentaire

In [ ]:
df_dispo_alimentaire.iloc[:,3:5]=df_dispo_alimentaire.iloc[:,3:5]*1000
df_dispo_alimentaire.iloc[:,9:18]=df_dispo_alimentaire.iloc[:,9:18]*1000

In [ ]:
df_dispo_alimentaire.head()

<a id='dispo_alimentaire_traitement_doublons'></a>
## Traitement des doublons<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_dispo_alimentaire[df_dispo_alimentaire.duplicated(subset=['Pays','Produit_disponibilite'])]

In [ ]:
df_dispo_alimentaire.drop_duplicates(subset=['Pays','Produit_disponibilite'])

<a id='dispo_alimentaire_standardisation'></a>
## Standardisation des noms de pays avec pour base le nom de pays du fichier population<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_dispo_alimentaire.loc[df_dispo_alimentaire['Pays']=='Royaume-Uni','Pays']="Royaume-Uni de Grande-Bretagne et d'Irlande du Nord"

In [ ]:
df_dispo_alimentaire.loc[df_dispo_alimentaire['Pays']=="Tchéquie (la)",'Pays']="Tchéquie"

In [ ]:
df_dispo_alimentaire.loc[df_dispo_alimentaire['Pays']=="Tchéquie",:]

<a id='dispo_alimentaire_export'></a>
## Export fichier nettoyé en csv<a href="#sommaire" style="font-size : 10px ; padding-left:10px">Retour Sommaire</a>

In [ ]:
df_dispo_alimentaire.to_csv(folder+'dispo_alimentaire_2.csv', index=False)